*~
*.log
*.pyc
*.swp
*.snl
*.mf
*.stats
*/*/primitives.v
*/*/verif.*
*/*/verilator.gold
designs/adder/adder_snl.v
designs/arm_core/arm_core_netlist.v
designs/arm_core/arm_core_snl_error.v
designs/arm_core/arm_core_snl.v
designs/arm_core/*.list
designs/black_parrot/black_parrot_edited.v
designs/black_parrot/black_parrot_snl.v
designs/jpeg/jpeg_hier_edited.v
designs/jpeg/jpeg_flat_edited.v
